body{
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
}

/*define que a div opcoes tem o display por padrao none(esconde na tela)*/
#div_opcoes{
	display: none;
}

#anuncio-direita{
	margin-top: 10px;
}

#img_anuncio_rodape{
	margin-top: 30px;
	width: 728px;
	height: 90;
}

#img_anuncio_lateral{
	width: 160px;
	height: 600px;
}